@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000c66;
  height: 100vh;
  color: white;
  font-family: 'Prompt', sans-serif;
}

@layer components {
  .container {
    @apply max-w-screen-xl px-6 mx-auto;
  }

  /*----- header -----*/
  .header {
    @apply h-screen flex flex-col items-center justify-center;
  }

  .header img {
    @apply mt-12;
  }

  .header-text {
    @apply w-10/12 text-4xl;
  }

  .header-text h1 {
    @apply font-bold text-[#7EC8E3];
  }

  .header-text span {
    @apply font-bold text-[#7EC8E3];
  }

  /*----- about-me -----*/
  .about-me {
    @apply text-center min-h-screen pt-8;
  }

  .about-me h2 {
    @apply text-3xl text-[#7EC8E3];
  }

  .about-me-info {
    @apply flex flex-col items-center mt-4;
  }

  /*.img {
    @apply w-72 h-72 bg-[#C4C4C4] mt-8 relative after:absolute after:content-[''] after:w-72 after:h-72 after:border-white after:border-4 after:left-3 after:top-3 after:-z-10;
  }
  .img {
    @apply w-1/2 relative after:absolute after:content-[''] after:w-full after:h-full after:border-white after:border-4 after:left-3 after:top-3 after:-z-10;
  }
  */

  .img-test {
    @apply w-full;
  }

  .img {
    @apply w-full relative;
  }

  .about-me-text {
    @apply mt-8;
  }

  /*----- my-projects -----*/
  .my-projects {
    @apply min-h-screen text-center py-8;
  }

  .my-projects h2 {
    @apply text-3xl text-[#7EC8E3] ;
  }

  .my-projects-cards {
    @apply flex flex-col justify-around items-center flex-wrap;
  }

  .project {
    @apply w-full my-4;
  }

  .project p {
    @apply w-full mt-2;
  }

  .link-to-webiste {
    @apply relative flex flex-col items-center justify-center;
  }

  .overlay {
    @apply absolute top-0 left-0 h-full w-full opacity-0 bg-[rgba(0,0,0,0.3)];
  }

  .link-to-webiste:hover .btn,
  .link-to-webiste:hover .overlay {
    @apply opacity-100;
  }

  .buttons {
    @apply absolute flex;
  }

  .btn {
    @apply cursor-pointer opacity-0 py-1 px-4 mx-4 border-4 border-none bg-[#7EC8E3] rounded-lg uppercase font-bold tracking-wider hover:bg-[#0000FF];
  }

  /*----- my-skills -----*/
  .my-skills {
    @apply text-center pt-8;
  }

  .my-skills h2 {
    @apply text-3xl text-[#7EC8E3];
  }

  .skills {
    @apply flex flex-wrap justify-center;
  }

  .skill-card {
    @apply mx-4 my-5;
  }

  .skill-icon {
    @apply w-16 h-16;
  }

  /*----- contact -----*/
  .contact {
    @apply bg-[#050A30] pt-8 pb-12;
  }

  .contact h2 {
    @apply text-3xl text-center;
  }

  .form {
    @apply flex flex-col items-center;
  }

  .form label {
    @apply flex flex-col mt-4 w-full;
  }

  .form input[type="text"] {
    @apply p-1 rounded-lg outline-none text-[#050A30];
  }

  .form textarea {
    @apply p-1 rounded-lg outline-none text-[#050A30];
  }

  .btn-form {
    @apply py-1 px-4 rounded-lg bg-[#7EC8E3] text-[#050A30] font-bold tracking-wider my-4;
  }

  .social {
    @apply mt-6;
  }

  .social h3 {
    @apply text-xl;
  }

  .social-links {
    @apply flex;
  }

  .social-icon {
    @apply w-8 h-8 mr-6 mt-4 hover:text-[#7EC8E3] cursor-pointer;
  }

  @media screen and (min-width: 768px) {
    .header {
      @apply flex-row;
    }

    .header img {
      @apply w-1/2 mt-0;
    }

    .about-me {
      @apply min-h-full pt-0 mb-16;
    }

    .about-me-info {
      @apply flex-row items-start mt-8;
    }

    .img-test {
      @apply w-1/2 flex justify-center;
    }

    .img {
      @apply w-3/4;
    }

    .about-me-text {
      @apply w-1/2 text-left mt-0;
    }

    .my-projects-cards {
      @apply flex-row w-full;
    }

    .project {
      @apply flex items-center justify-between my-8;
    }

    .project:nth-child(even) {
      @apply flex-row-reverse;
    }

    /* .project img {
      @apply w-[49%];
    } */

    .link-to-webiste {
      @apply w-[49%];
    }

    .project p {
      @apply w-2/5;
    }

    .my-skills {
      @apply my-16;
    }

    .contact-flex {
      @apply flex justify-between;
    }

    .form {
      @apply w-80;
    }

    .social-links {
      @apply justify-end;
    }

    .social-icon {
      @apply mr-0 ml-6;
    }
  }
}
