@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000c66;
  height: 100vh;
  color: white;
  font-family: "Prompt", sans-serif;
}

@layer components {
  .container {
    @apply max-w-screen-xl px-6 mx-auto my-12 first-of-type:mt-0;
  }

  /*----- header -----*/
  .header {
    @apply h-screen flex;
  }

  .header-flex {
    @apply flex flex-col justify-center;
  }

  .header img {
    @apply mt-12;
  }

  .header-text {
    @apply w-10/12 text-4xl;
  }

  .header-text h1 {
    @apply font-bold text-[#7EC8E3];
  }

  .header-text span {
    @apply font-bold text-[#7EC8E3];
  }

  /*----- about-me -----*/
  .about-me {
    @apply text-center min-h-screen;
  }

  .about-me h2 {
    @apply text-3xl text-[#7EC8E3];
  }

  .about-me-info {
    @apply flex flex-col items-center mt-4;
  }

  .img-test {
    @apply w-full;
  }

  .img {
    @apply w-full relative;
  }

  .about-me-text {
    @apply mt-8;
  }

  /*----- my-projects -----*/
  .my-projects {
    @apply min-h-screen text-center;
  }

  .my-projects h2 {
    @apply text-3xl text-[#7EC8E3];
  }

  .my-projects-cards {
    @apply flex flex-col justify-around items-center flex-wrap;
  }

  .project {
    @apply w-full my-4;
  }

  .project-information {
    @apply w-full mt-4;
  }

  .project-skill {
    @apply mt-4 uppercase font-bold tracking-wider;
  }

  .project-skill span {
    @apply cursor-default hover:text-[#7EC8E3];
  }

  .link-to-webiste {
    @apply relative flex flex-col items-center justify-center;
  }

  .overlay {
    @apply absolute top-0 left-0 h-full w-full opacity-0 bg-[rgba(0,0,0,0.4)] transition-opacity ease-linear duration-300;
  }

  .link-to-webiste:hover .btn,
  .link-to-webiste:hover .overlay {
    @apply opacity-100;
  }

  .buttons {
    @apply absolute flex;
  }

  .btn {
    @apply cursor-pointer opacity-0 py-1 px-4 mx-4 border-4 border-none bg-[#7EC8E3] rounded-lg uppercase font-bold tracking-wider hover:bg-[#0000FF] transition-all ease-linear delay-100 duration-150;
  }

  /*----- my-skills -----*/
  .my-skills {
    @apply text-center;
  }

  .my-skills h2 {
    @apply text-3xl text-[#7EC8E3];
  }

  .skills {
    @apply flex flex-wrap justify-center;
  }

  .skill-card {
    @apply mx-4 my-5;
  }

  .skill-icon {
    @apply w-16 h-16 hover:text-[#7EC8E3] transition-colors ease-linear duration-75;
  }

  /*----- contact -----*/
  .contact {
    @apply bg-[#050A30] pt-8 pb-12;
  }

  .contact h2 {
    @apply text-3xl text-center;
  }

  .form {
    @apply flex flex-col items-center;
  }

  .form label {
    @apply flex flex-col mt-4 w-full;
  }

  .text-input {
    @apply p-2 px-4 outline-none text-white bg-transparent border-b-2 border-b-gray-500 focus:border-b-white hover:border-white transition-colors ease-linear duration-150;
  }

  .red-class-input {
    @apply border-b-red-500 focus:border-b-red-500 hover:border-red-500;
  }

  .text-area {
    @apply p-2 px-4 outline-none text-white bg-transparent border-2 border-gray-500 focus:border-white hover:border-white transition-colors ease-linear duration-150;
  }

  .red-class-textarea {
    @apply border-red-500 focus:border-red-500 hover:border-red-500;
  }

  .btn-form {
    @apply py-1 px-4 rounded-lg bg-[#7EC8E3] text-[#050A30] font-bold tracking-widest my-4 hover:text-white;
  }

  .social {
    @apply mt-6;
  }

  .social h3 {
    @apply text-xl;
  }

  .social-links {
    @apply flex;
  }

  .social-links a {
    @apply mr-6 mt-4;
  }

  .social-icon {
    @apply w-8 h-8 hover:text-[#7EC8E3] cursor-pointer transition-colors ease-linear duration-75;
  }

  @media screen and (min-width: 768px) {
    .header-flex {
      @apply flex-row items-center;
    }

    .header img {
      @apply w-1/2 mt-0;
    }

    .about-me {
      @apply min-h-full;
    }

    .about-me-info {
      @apply flex-row items-start mt-8;
    }

    .img-test {
      @apply w-1/2 flex justify-center;
    }

    .img {
      @apply w-3/4;
    }

    .about-me-text {
      @apply w-1/2 text-left mt-0;
    }

    .my-projects-cards {
      @apply flex-row w-full;
    }

    .project {
      @apply flex items-center justify-between my-8;
    }

    .project:nth-child(even) {
      @apply flex-row-reverse;
    }

    .link-to-webiste {
      @apply w-[49%];
    }

    .project-information {
      @apply text-left w-[45%] mt-0;
    }

    .project-skill {
      @apply mt-4 uppercase font-bold tracking-wider;
    }

    .contact-flex {
      @apply flex justify-between;
    }

    .form {
      @apply items-start;
    }

    .text-input {
      @apply w-1/2;
    }

    .social-links {
      @apply justify-end;
    }

    .social-links a {
      @apply mr-0 ml-6;
    }
  }
}
